.block {
    gap: 65px;
    display: flex;
    flex-direction: column;
}

.list {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item {
    width: 100%;
}

@media (width <= 2160px) {

}

@media (width <= 1200px) {
    .block {
        gap: 30px;
    }

    .list {
        gap: 8px;
    }
}
