.block {
    font-size: 28px;
    line-height: 1.5;
}

@media (width <= 2160px) {
    .block {
        font-size: 22px;
        line-height: 1.4;
    }
}

@media (width <= 1200px) {
    .block {
        font-size: 16px;
    }
}
