.nav {
    display: none;
    visibility: hidden;
}

@media (width <= 1200px) {
    .block {
        gap: 8px;
        display: flex;
        flex-direction: column;
    }

    .nav {
        gap: 8px;
        z-index: 7;
        display: flex;
        visibility: visible;
        flex-direction: column;

        &[hidden] {
            display: none;
            visibility: hidden;
        }
    }

    .overlay {
        z-index: 5;
    }

    .wrapper {
        z-index: 6;
        position: relative;
    }
}
