.editor {
    font-size: 28px;
    line-height: 1.6;

    & > * {
        margin-bottom: 1.5em;
    }

    & :last-child {
        margin-bottom: 0;
    }

    a {
        color: inherit;
        text-decoration-color: var(--blue);

        &:hover {
            text-decoration: none;
        }
    }

    b, strong {
        font-weight: 600;
    }

    pre {
        font-size: 22px;
        overflow-x: auto;
        padding: 1em 1.5em;
        border-radius: 6px;
        font-family: monospace;
    }

    ul, ol {
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    blockquote {
        border-left: 5px solid;
        padding: 0.5em 1em;
        margin: 1em 0;
        font-style: italic;
    }

    &--theme-light {
        pre {
            background-color: #f4f4f4;
            color: #333;
        }

        blockquote {
            background-color: #f9f9f9;
            border-left-color: var(--blue);
        }
    }

    &--theme-dark {
        pre {
            color: var(--light-primary);
            background-color: var(--bg-dark);
        }

        blockquote {
            color: #f4f4f4;
            background-color: #333;
            border-left-color: var(--blue);
        }
    }
}

@media (width <= 2160px) {
    .editor {
        font-size: 22px;
        line-height: 1.5;

        & > * {
            margin-bottom: 1.5em;
        }

        pre {
            font-size: 18px;
            padding: 1em 1.5em;
            border-radius: 5px;
        }

        blockquote {
            margin: 1em 0;
            padding: 0.5em 1em;
            border-left: 4px solid;
        }
    }
}

@media (width <= 1200px) {
    .editor {
        font-size: 16px;
        line-height: 1.5;

        & > * {
            margin-bottom: 1.5em;
        }

        pre {
            font-size: 14px;
            padding: 1em 1.5em;
            border-radius: 5px;
        }

        blockquote {
            margin: 1em 0;
            padding: 0.5em 1em;
            border-left: 2px solid;
        }
    }
}
