.block {
    gap: 30px;
    padding: 30px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background-color: #F8F8F8;
}

.grid-files {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.button {
    max-width: 300px;
}

.iconButton {
    width: 26px;
    height: 26px;
    display: block;
    fill: #ffffff;
}
