.block {
    padding: 36px 0;
}

.avatar {
    margin-right: 14px;
}

.switcher {
    flex-shrink: 0;
}

.name {
    margin-right: 32px;

    &--front {
        flex-grow: 1;
    }
}

.button {
    display: none;
    visibility: hidden;
}

@media (width <= 2160px) {
    .block {
        padding: 24px 0;
    }

    .name {
        margin-right: 22px;
    }

    .avatar {
        margin-right: 12px;
    }
}

@media (width <= 1200px) {
    .block {
        padding: 14px 0;
    }

    .avatar {
        margin-right: 10px;
    }

    .name {
        flex-grow: 1;
    }

    .switcher {
        display: none;
        visibility: hidden;
    }

    .nav {
        &--desktop {
            display: none;
            visibility: hidden;
        }
    }

    .button {
        display: flex;
        visibility: visible;
    }
}
