.block {
    width: 100%;
    padding: 0 50px;
}

@media (width <= 2160px) {
    .block {
        padding: 0 30px;
        //background-color: blue;
    }
}

@media (width <= 1200px) {
    .block {
        padding: 0 15px;
        //background-color: red;
    }
}
