.block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    display: block;
    position: fixed;
    max-height: 100vh;
    visibility: visible;
    transition: 0.3s opacity;
    // TODO: Протестировать в других браузерах
    -webkit-backdrop-filter: blur(0.4rem);
    backdrop-filter: blur(0.4rem);

    &[hidden] {
        opacity: 0;
        max-height: 0;
        visibility: hidden;
    }

    &--theme-light {
        &:before {
            background-color: rgba(43, 43, 43, 0.5);
        }
    }

    &--theme-dark {
        &:before {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
}
