:root {
    // all
    --blue: #3653A1; // синий для ссылок

    // light
    --bg-light: #DDDFE1; // фон светлый
    --light-accent: #F5F5F5; // светлый карточки
    --dark-primary: #232323; // темный для контента
    --dark-secondary: #606060CC; // темный для подписей

    // dark
    --bg-dark: #19191A; // фон темный
    --dark-accent: #1F1F1F; // темный карточки
    --light-primary: #E0E0E0; // белый для контента
    --light-secondary: #E8E8E8B2; // белый для подписей
}
