:root {
    --card-padding-l: 40px 40px 30px;
    --card-padding-m: 25px 25px 15px;
    --card-padding-s: 16px 16px 10px;

    --ui-item-height-l: 48px;
    --ui-item-height-m: 38px;
    --ui-item-height-s: 24px;

    --header-reg-padding-l: 0;
    --header-reg-padding-m: 0;
    --header-reg-padding-s: 0;

    --menu-mobile-item-height-l: 86px;
    --menu-mobile-item-height-m: 74px;
    --menu-mobile-item-height-s: 52px;

    --title-line-height-l: 108px;
    --title-line-height-m: 92px;
    --title-line-height-s: 40px;

    --link-regular-line-height-l: 36px;
    --link-regular-line-height-m: 32px;
    --link-regular-line-height-s: 21px;

    --name-main-line-height-l: 50px;
    --name-main-line-height-m: 36px;
    --name-main-line-height-s: 24px;

    --name-reg-line-height-l: 42px;
    --name-reg-line-height-m: 36px;
    --name-reg-line-height-s: 24px;
}
