.block {
    width: 44px;
    height: 44px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    fill: #E52222;
}
