.block {
    font-size: 30px;
    line-height: 1.3;
}

@media (width <= 2160px) {
    .block {
        font-size: 26px;
    }
}

@media (width <= 1200px) {
    .block {
        font-size: 14px;
    }
}
