.block {
    flex-grow: 1;
    padding-bottom: 115px;

    &--detail {
        padding-bottom: 0;
    }
}

@media (width <= 2160px) {
    .block {
        padding-bottom: 110px;
    }
}

@media (width <= 1200px) {
    .block {
        padding-bottom: 40px;

        &--list {
            padding-top: 100px;
        }
    }
}
