.block {
    display: flex;
    border-radius: 8px;
    align-items: center;
    transition: 0.3s all;
    padding: 0 12px 0 24px;
    justify-content: space-between;
    min-height: var(--menu-mobile-item-height-s);

    &--theme-light {
        color: var(--dark-primary);
        background-color: var(--light-accent);
    }

    &--theme-dark {
        color: var(--light-primary);
        background-color: var(--dark-accent);
    }
}

.title {
    font-size: 20px;
}
